NEXT_PUBLIC_NETLIFY_BACKEND_URL=https://auth.arvio.tv/.netlify/functions
NEXT_PUBLIC_ARVIO_RESOLVER_URL=
NEXT_PUBLIC_ALLOW_NETLIFY_MEDIA_PROXY=false
NEXT_PUBLIC_ARVIO_APP_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpyZHd2b3J0Y2Zub3lrbHR6dXFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY3NDU4NzMsImV4cCI6MjA4MjMyMTg3M30.YfKZbSwxGs6_xMd6jkDtn1PKkfuyOHo9qVhUvFRddGU
NEXT_PUBLIC_SUPABASE_URL=https://zrdwvortcfnoykltzuqf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpyZHd2b3J0Y2Zub3lrbHR6dXFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY3NDU4NzMsImV4cCI6MjA4MjMyMTg3M30.YfKZbSwxGs6_xMd6jkDtn1PKkfuyOHo9qVhUvFRddGU
NEXT_PUBLIC_TRAKT_CLIENT_ID=
NEXT_PUBLIC_TELEGRAM_API_ID=
NEXT_PUBLIC_TELEGRAM_API_HASH=
TMDB_API_KEY=
TRAKT_CLIENT_SECRET=
